{% extends "base.html" %}
{% load static %}
{% block titulo %}Función cinco{% endblock %}

<!-- Content Header (Page header) -->
{% block content_header_title%}Función cinco{% endblock %}
{% block content_header_actual%}Función cinco{% endblock %}
<!-- Main content -->
{% block content_main %}
    <div class="row mb-3 ml-1">
        <p>Detalle: Obtener lista de clientes ordenados decrecientemente por la suma TOTAL de lo que ha gastado
            en arriendo de autos y que, además, solamente considere aquellos que han tenido un gasto
            total superior a los $40.000. Cada cliente debe estar representado como un diccionario, en
            donde el Rut sea la llave y el monto gastado el valor. Esta funcionalidad debe permitir consultar
            por Id de Empresa (def getClientsSortByAmount(id_empresa):).</p> 
    </div>
    
    <div class="row px-3 py-3 mb-3 ml-1 bg-black ">
        <div class="col text-success ">
            {{ result }}
        </div> 
    </div>

    
{% endblock %}
{% block scripts %}

{% endblock %}