<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="{% url 'clients' %}" class="nav-link">
                <i class='fas fa-users-cog'></i>
                <p>Clientes</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'companies' %}" class="nav-link">
                <i class='fas fa-users-cog'></i>
                <p>Empresas</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'rents' %}" class="nav-link">
                <i class='fas fa-users-cog'></i>
                <p>Arriendos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-cog"></i>
                <p>
                Funciones
                <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 1 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 1</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 2 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 2</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 3 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 3</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 4 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 4</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 5 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 5</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 6 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 6</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 7 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 7</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 8 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 8</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'funtionsResult' 9 %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Función 9</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->